$corDeFundo:rgb(17, 16, 16);
$corBordaHeader:#fff;

$corBorderButton:rgb(0, 0, 0);

$corFundoBtnRent:#fff;
$corLetraBtnRent:rgb(0, 0, 0);

$corFundoBtnBuy:#d61031;
$corLetraBtnBuy:#fff;

$corFundoBtnHover:rgb(0, 0, 0);
$corLetraBtnHover:#fff;
$corBorderBtnHover:#fff;

$corTxtHero:#fff;
$corTxtSynopsis:#fff;

$corBorderFooter:#ff0000 ;
$corFundoFooter:#fff;